h1{ 
	text-align: center; 
	font: bold 1.5em arial; 
	padding: 0.5em; 
	margin: 0;
}
h2 { 
	text-align: center; 
	font: bold 1.2em arial; 
	padding: 0.2em; 
	margin: 0;
}
p { 
	text-align: center; 
	font: 1em arial; 
	padding: 0.1em; 
	margin: 0; 
}
form{
	text-align: center;
}
div { 
	border: 1px solid black; 
	width: 50%; 
	margin-left: 25%; 
	margin-top: 1%; 
	padding: 1%; 
	float: left;
	display:flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	text-align: center;
}