h1{ 
	font: bold 2em garamond;
	 color: navy; 
	 text-align: center; 
}
p{ 
	font: bold 1.1em arial;
	text-align: center;
}
#respuesta{ 
	font: bold 1.5em verdana; 
	color: black; 
	text-align: center; 
}
#contenedor{
	align-content: center;
	display:flex;
	justify-content: center;
}
#rojo, #amarillo, #verde, #azul { 
	opacity: 0.1;
	width: 225px; 
	height: 225px; 
	margin: 10px; 
	float: left; 
}
#rojo{ 
	background-color: red; 
}
#amarillo{ 
	background-color: yellow; 
}
#verde{ 
	background-color: green; 
}
#azul{ 
	background-color: blue; 
}
#entero{
	width: 100%;
	height:100%;
}